

.image{
    border-radius: 0.5em;
    height: 10rem !important;
    object-fit:cover;
}
.align{    
  align-self: center;
  margin-right: .4rem;
}
.image1{
  max-width: 59% !important;
}
.mini-container{
  display: flex;
  flex-direction: row;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  img{
    background-color: rgba(155,255,255,.2);
   border-radius: 10px;
   padding: 5px;
  }
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
